h1 {
    font-size: 80px;
}

#score {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#guess-flag-game {
    text-align: center;
}

#timer {
    font-size: x-large;
}

body {
    background-color: rgb(26, 148, 204);
}

#guessFlag {
    margin-top: 1%;
}

#flag {
    max-width: 20%;
    max-height: 20%;
}